<div class="post">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{renderPost.title}}</h2>
      <div>
        Posted by {{renderPost.user.username}} on {{format_date renderPost.createdAt}}
      </div>
    </div>
    <div class="card-content">
      {{renderPost.content}}
    </div>
  </article>

  {{#if renderPost.comments}}
  <section class="card">
    <div class="card-header">
      <h3>Comments</h3>
    </div>
    <div class="card-content">
      {{#each renderPost.comments}}
      <div>
           <p>
          &#x26AF; {{user.username}}, {{format_date createdAt}}
        </p>
        <p>
         &#x26AC; {{content}}
        </p>
      </div>
      {{/each}}
    </div>
  </section>
  {{/if}}

  <form method="POST" action="/api/comment/add" id="new-comment-form" class="card">
    <div class="card-header">
      <h3> &#x27BE; Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="id" value="{{renderPost.id}}" />
      <input type="hidden" name="user_id" value="{{renderPost.user_id}}" />
      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="content" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>